<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_field_service_root"
              name="Field Service Automation"
              web_icon="usl_service_order_automation,static/description/icon.png"
              sequence="0"/>
    <menuitem id="menu_field_service_master"
              name="Field Service Details"
              parent="menu_field_service_root"
              sequence="0"/>
    <menuitem id="configuration_main_menu"
              name = "Configuration"
              parent="menu_field_service_root"
              sequence="0"/>
</odoo>
